<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Kornuit{% endblock %}</title>
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/layout.css') }}" />{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div class="container">
      {% block body %}
        <div class="mainmenu">
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="visie">visie</a></li>
              <li><a href="historiek">historiek</a></li>
              <li><a href="galerij">galerij</a></li>
              <li><a href="kinderdagverblijf">kinderdagverblijf</a></li>
              <li><a href="middagopvang">middagopvang</a></li>
              <li><a href="ibo">IBO</a></li>
              <li><a href="contact">contact</a></li>
            </ul>
          </div>
        <div class="header">
          {% block header %}
          {% endblock %}
        </div>
        <div class="page">
          
          <div class="sidebar1">
            {% block sidebar1 %}
              {{ render(controller('AppBundle:Session:index')) }}
            {% endblock %}
          </div>
          <div class="content">
          {% block content %}
          {% endblock %}
          </div>
          <div class="sidebar2">
            {% block sidebar2 %}
              {{ render(controller('AppBundle:LatestNews:index')) }}
              {% endblock %}
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="footer">
          {% block footer %}
          {% endblock %}
        </div>
      {% endblock %}
    
    </div>
  {% block javascripts %}{% endblock %}
</body>
</html>
